:root {
  --size: 0;
  --duration: 0s;
  --space-layer: none;
}

.space {
  position: absolute;
  width: var(--size);
  height: var(--size);
  animation: move linear infinite;
}

/* Inicio de estilos en el contenedor principal */
.container {
    background-image: linear-gradient(rgba(4, 8, 40, 0.8), #000);
    inset: 0;
    position: fixed;
    z-index: -10;
  }
  
  /* Se le da los estilos al fondo para que tengan esos colores y movimiento */
  .space {
    --size: 2px;
    --space-layer: 
      4vw 50vh 0 #fff,
      18vw 88vh 0 #fff,
      73vw 14vh 0 #fff;
    
    width: var(--size);
    height: var(--size);
    background: white;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
  }
  /* aqui se le hizo animaciones */
  .space {
     animation: move var(--duration) linear infinite;
  }

  /* Se hizo los estilos de las transiciones */
  
  @keyframes move {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
  }