* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_carreras-total{
    /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,231,225,1) 47%, rgba(195,201,189,1) 92%); */
    background: -webkit-linear-gradient(90deg, #ffffff,#f5f6f4,#e8ebe6,#d3d8cf,#bcc4b6);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #ffffff,#f5f6f4,#e8ebe6,#d3d8cf,#bcc4b6);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                 
   
   
}


.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    
    padding-bottom: 50px;
   
  
   
}
.container_carreras-tittle{
    
    text-align: center;
    color: rgb(15, 13, 13);
    margin-top: 50px;
   
    font-size: 25px;
    
    
}
.carreras__tittle{
   
    padding: 10px 20px;
    border-radius: 20px;
    padding-top: 100px;
}



.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 75rem;
    gap: 1.5rem;
}

.articles article {
    max-width: 20rem;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
    
    margin: 0; /* Asegúrate de que no haya margen */
}

.articles article a {
    display: inline-flex;
    color: var(--primary);
    text-decoration: none;
}

.articles article h2 {
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
   
    transition: color 0.3s ease-out;
    
    display: flex;
    justify-content: center;
}

.articles article img {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.article-preview {
    padding: 1rem; /* Reducir el padding aquí */
    background: white;
  
}

.articles figure {
    width: 100%;
    height: auto;
    overflow: hidden;
   margin: 0;
   padding: 0;
}

.articles figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
   
}

.articles article:hover img {
    transform: scale(1.1);
}
