@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}



.container_carreras-tittle{
    display: flex;
    justify-content: center;
    color: rgb(15, 13, 13);
    margin-top: 100px;
    font-size: 25px;
    
}
.carreras__tittle{
    background-color: #e4bb22;
    padding: 10px 20px;
    border-radius: 20px;
}


.container_carreras{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.card{
    height: 350px;
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}
.card_carreras, .card_carreras_2,  .card_carreras_3{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: aqua;
    transition: all 300ms ease;
    position: absolute;
}
.card_personajes{
    height: 230px;
    width: 300px;
    background-image:url(../../img/diseño1.png) ;
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card_personajes_2{
    height: 350px;
    width: 250px;
    background-image:url(../../img/protesis1.png) ;
    background-size: cover;
    margin-bottom: 300px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card_personajes_3{
    height: 230px;
    width: 300px;
    background-image:url(../../img/contabilidad11.png) ;
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}


.card_detalle , .card_detalle_2, .card_detalle_3{
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}

/* HOVER */
.card:hover{
    transform: scale(1.1);
}
.card:hover .card_personajes{
    transform: translateY(-40px);
    width: 3500px;
    margin-left: -90px;
    margin-bottom: 170px;
    transition: 5ms;
    filter: none;
    background-image: url(../../img/diseño22.png);

}
.card:hover .card_personajes_2{
    transform: translateY(-40px);
    height: 325px;
    transition: 5ms;
    filter: none;
    background-image: url(../../img/protesis22.png);

}
.card:hover .card_personajes_3{
    transform: translateY(-40px);
    
    height: 350px;
    transition: 300ms;
    filter: none;
    background-image: url(../../img/contabilidad2.png);

}

.card:hover .card_carreras{
    background-image: radial-gradient(white, rgb(241, 61, 208));
}
.card:hover .card_carreras_2{
    background-image: radial-gradient(white, rgb(108, 105, 108));
}
.card:hover .card_carreras_3{
    background-image: radial-gradient(white, rgb(230, 18, 18));
}

/* Texto y boton */

.card_detalle-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.card_detalle_paragraph{
    width: 90%;
    font-size: 12px;
    margin: auto;
    color: #000;
}

.btn {
    width: 100px;
    margin: auto;
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .contenedor{
   
    display: flex;
    align-items: center;
    justify-content: center;
}


.tarjeta{
    height: 40px;
    width: 180px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 180px;
    background-image: conic-gradient(red 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content: "";
    position: absolute;
    height: 30px;
    width: 170px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}


h6{
    color: red;
    z-index: 2;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}