@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  
}
h2{
    font-family: "Roboto", sans-serif;
}
p{
    font-family: "Roboto", sans-serif;
}
.container_contactanos {
    display: flex;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    max-width: 1200px; 
    gap: 2rem;
    margin-top: 50px;
    justify-content: space-between; 
}

.contactanos_img {
    width: 100%;
    height: auto; 
}

.contactanos_admision {
    display: flex;
    flex-direction: column;
    width: 50%; 
    font-family: "Roboto", sans-serif;
}

.contactanos_mapa {
    display: flex;
    width: 50%; 
    height: auto; 
}

.image_mapa {
    width: 100%;
    height: auto; 
}

.contactanos_ubicacion {
    display: flex;
    flex-direction: column;
    width: 50%; 
}




@media (max-width: 768px) {
    .container_contactanos {
        flex-direction: column; 
        max-width: 90%; 
        gap: 1.5rem;
    }

    .contactanos_admision, .contactanos_mapa, .contactanos_ubicacion {
        width: 100%; 
    }

    .image_mapa {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 480px) {
    .container_contactanos {
        flex-direction: column; 
        gap: 1rem;
        margin-top: 20px;
    }

    .contactanos_admision, .contactanos_mapa, .contactanos_ubicacion {
        width: 100%; 
    }

    .image_mapa {
        width: 100%;
        height: auto;
    }
}
