.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .evento {
    display: flex;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    background: -webkit-linear-gradient(
        90deg,
        #ffffff,
        #f5f6f4,
        #e8ebe6,
        #d3d8cf,
        #bcc4b6
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        90deg,
        #ffffff,
        #f5f6f4,
        #e8ebe6,
        #d3d8cf,
        #bcc4b6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .imagen {
    width: 50%;
    object-fit: cover;
  }
  
  .contenido {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: -webkit-linear-gradient(90deg, #bcc4b6,#d3d8cf,#e8ebe6,#f5f6f4,#ffffff);/* Chrome 10-25, Safari 5.1-6 */     
  }
  
  .titulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .descripcion {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .boton {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #ccc;
  }
  
  @media (max-width: 768px) {
    .evento {
      flex-direction: column;
    }
  
    .imagen,
    .contenido {
      width: 100%;
    }
  
    .imagen {
      height: 200px;
    }
  
    .contenido {
      padding: 15px;
    }
  
    .titulo {
      font-size: 20px;
    }
  
    .descripcion {
      font-size: 14px;
    }
  }