*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.contenedor_inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
   
    
   
    
}
.inicio_paragraph{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
    text-align: center;
    gap: 15px;
    
    
   

}
.inicio__paragraph-creatividad{
    font-weight: bold;
    color: rgb(18, 168, 163);
}
.inicio__paragraph-presicion{
    color: 
    #05fce8;
}
.inicio__paragraph-cuidado{
    color: rgb(18, 168, 163);
    font-weight: bold;
}


.inicio_logo{
    text-align: center;
}
.inicio_instituto{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}
.inicio_instituto:hover{
    
    color: #e4bb22;
    transition: all 300ms;
}
.inicio_lurin{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    
}
.inicio_lurin:hover{
    color: #e4bb22;
    transition: all 1ms ease;
    
   
}


.inicio_container_imagen{
    
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}
.inicio__container-diseño{
    width: 500px;
}
.inicio__container-protesis{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.inicio__container-contabilidad{
    width: 350px;
}

@media (400px <= width <= 800px)
{
    .inicio_container_imagen{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .inicio__container-diseño{
        width: 400px;
    }
    .inicio__container-protesis{
        width: 210px;
    }
    .inicio__container-contabilidad{
        width: 300px;
    }
}