* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_carreras,
.container_principal,
.container_principal_02 {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.container_principal {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(187, 203, 181) 100%);
}

.sub_container_carreras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 97%;
    margin: 0 auto;
    /* border: solid rgb(21, 201, 117); */
}

.image_carreras {
    width: 100%;
    height: 450px;
    background: url('https://www.ortodoncia.ws/publicaciones/2016/imagenes/2016-09-07-prot-1.jpg') no-repeat center center;
    background-size: cover;
}

.container-tex {
    /* height: 300px; */
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: justify;
    /* border: solid rebeccapurple; */
}

.container-tex h2 {
    color:#619534;
    font-weight: bold;
    font-size: 45px;
    
    /* border: solid   #213e12; */
}

.container-tex p{
    /* border: solid red; */
    font-size: 19px;
    width: 90%;
    color: rgb(97, 105, 102);
    
}
.boton-contabilidad,
.boton_2 {
    background-color: #2a2e25;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    
    transition: transform 0.3s ease;
    cursor: pointer;
    /* margin-left: 20px; */
}

.boton-contabilidad:hover,
.boton_2:hover {
    background-color: #050a00;
    transform: translateY(5px);
}


.container_sub_img {
    display: flex;
    
    
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 60px;
    margin: 20px auto 0;
    align-items: center;
    /* border: solid rgb(22, 151, 59); */
    /* margin-bottom: 70px; */
}

.container_sub_img img {
    width: 320px;
    height: 230px;
    border-radius: 20px;
    margin-bottom: 25px;
    border-bottom: 7px solid #619534;
    border-right: 7px solid #3D4437;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.container_sub_img img:hover {
    transform: translateY(10px);
    border-bottom: 7px solid #0F110E;
    border-right: 7px solid #0F110E;

}

/* {---------------Conoce la carrera----------------------------} */


.sub_container_principal_02{
/* border: solid red; */
}

.conoce_la_carrera {
    /* border: solid rgb(54, 26, 138); */
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(187, 203, 181) 100%);
}
.nececitas_saber h2, .conoce_la_carrera h2 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 45px;
    color: #619534;
    margin-left: 20px;
    /* margin-top: 20px; */
}

.conoce_la_carrera p {
    font-size: 19px;
    color: rgb(98, 105, 97);
    text-align: justify;
    margin: 25px;
    width: 90%;
    height: 150px;
    overflow: hidden;
}

/* Sección "Lo que necesitas saber" */
.nececitas_saber {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(187, 203, 181) 100%); 
     
}
.sub-nececitas_saber{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    margin: 20px;
    color: rgb(97, 105, 102);
    /* border: solid red; */
}

.nececitas_saber div {
    margin-left: 20px;
}

.sub-nececitas_saber h2 {
    color: #619534;
    font-weight: bold;
    font-size: 45px;
    /* border: solid red; */
}

.nececitas_saber h4 {
    font-weight: bold;
    color: #619534;
    margin-top: 30px;
}


/* Sección "Qué aprenderás" */

.container_aprenderas {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(187, 203, 181) 100%);
}

.sub_aprenderas_tex{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    /* border: solid red; */
    margin-left: 20px;
    margin-top: 40px;

}

.sub_aprenderas_tex p {
    font-size:19px;
    color: rgb(97, 105, 102);
    text-align: justify;
    width: 400PX;
    /* border: solid red; */
}

.container_aprenderas h2 {
    font-weight: bold;
    font-size: 45px;
    margin-left: 30px;
    color: #619534;
}

/* Certificaciones y convenios */

.certificaciones,
.container_convenios {
    display: flex;
    flex-wrap: wrap;
    /* gap: 300px; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(187, 203, 181) 100%);
    border: solid 1px #0F110E;
    
}

.certificaciones h2{
    font-weight: bold;
    font-size: 45px;
    margin-left: 30px;
    color: #619534;
    margin-top: 30px;
    margin-bottom: 30px;
}
.certificaciones P{
    font-size: 19px;
    color: rgb(97, 105, 102);
    margin-left: 30px;
    margin-bottom: 30px;
}
.certificaciones img {
    max-width: 300px;
    height: 200px;
    border-radius: 20px;
    /* border: solid 1px #0F110E; */
    margin-left: 60px;
    border-bottom: 7px solid #619534;
    border-right: 7px solid #3D4437;
    transition: transform 0.3s ease;
    margin-top: 50px;
}

.certificaciones img:hover{
    transform: translateY(10px);
    border-bottom: 7px solid #0F110E;
    border-right: 7px solid #0F110E;
}

/* --------------------CONVENIOS------------------ */
.container-convenios{
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(187, 203, 181) 100%);

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: solid red; */
}
.container-convenios h2{
    font-weight: bold;
    font-size: 45px;
    color: #619534;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.container_convenios img {
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    /* border: solid 1px #0F110E; */
    margin-left: 60px;
    border-bottom: 7px solid #619534;
    border-right: 7px solid #3D4437;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.container_convenios img:hover{
    transform: translateY(10px);
    border-bottom: 7px solid #0F110E;
    border-right: 7px solid #0F110E;
}

/* Media Queries */
@media (max-width: 768px) {
    .container_carreras,
    .container_principal,
    .container_principal_02 {
        width: 100%;
        padding: 0 15px;
        border: solid rgb(52, 224, 9);
    }

    .image_carreras {
        height: auto;
    }

    .sub_container_carreras {
        flex-direction: column;
    }

    .container_sub_img {
        flex-direction: column;
    }

    .container_sub_img img {
        max-width: 320px;
        border: solid red;
    }

    .container-tex {
        width: 100%;
        text-align:justify;
    }

    .container-tex h2,
    .conoce_la_carrera h2,
    .nececitas_saber h2,
    .container_aprenderas h2,
    .certificaciones h2 {
        font-size: 32px;
    }

    .boton-contabilidad,
    .boton_2 {
        width: 100%;
        max-width:140px;
        font-size: 14px;

    }
    .container-convenios h2{
        border: solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 30px;

    }
    .certificaciones img,
    .container_convenios img {
        max-width: 130px;
    
    }
}
/* --------------------------- */

@media (max-width: 480px) {
    .container-tex h2,
    .conoce_la_carrera h2,
    .nececitas_saber h2,
    .container_aprenderas h2,
    .certificaciones h2 {
        font-size: 28px;
    }

    .certificaciones img,
    .container_convenios img {
        max-width: 120px;
    }
}
