.blog_principal_container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.blog_container {
    display: flex;
    
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.imagen_texto{
    display: flex;
    align-items: center;
}
.blog_img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.blog_text {
    width: 40%;
    padding-left: 20px; /* Adds space between image and text */
}

.blog_contenido {
    margin: 0;
    width: 50%;
    margin: auto;
}

.blog_fecha {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}
